* {
  font-family: sans-serif;
}

.ball {
  box-sizing: border-box;
  display: inline-block;
  width: 200px;
  height: 200px;
  padding: 35px 70px;
  border-radius: 50%;
  color: white;
  font-size: 7.5rem;
}

.ball-1 {
  background: linear-gradient(teal, purple);
}

.ball-1:hover {
  transform: rotate(200deg);
}

.ball-2 {
  background: linear-gradient(to right, darkblue, lightcoral);
}

.ball-2:hover {
  transform: scale(1.25);
}

.ball-3 {
  background: linear-gradient(green, cornflowerblue);
}

.ball-3:hover {
  transform: translate(80px, 80px) rotate(120deg);
}

.durations {
  margin-top: 20px;
}

.ball-4 {
  background-color: purple;
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.ball-4:hover {
  background-color: teal;
}
