:root {
  --gold: #ffd700;
}

header,
section,
aside {
  box-sizing: border-box;
  padding: 10px;
  border: 4px solid var(--black);
  color: var(--black);
}

header {
  background-color: var(--blue);
}

section {
  display: inline-block;
  width: 75%;
  height: 300px;
  background-color: var(--orange);
}

aside {
  float: right;
  width: 25%;
  height: 300px;
  background-color: var(--gold);
}
