:root {
  --black: #121212;
  --yellow: #dac50e;
  --darkyellow: #bdab0d;
  --white: #efefef;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: var(--black);
}

.h1,
.h2 {
  margin: 3rem;
  color: var(--white);
  font-size: 3em;
}

.h2 {
  font-size: 2em;
}

.loading {
  width: 10%;
  height: 10%;
}

.starships {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.starship {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: 2px solid var(--yellow);
  background-color: var(--yellow);
  color: var(--black);
  text-align: center;
}

.starship:hover {
  border: 2px solid var(--black);
  background-color: var(--darkyellow);
}
